body {
font-family:verdana;
font-size:7pt;
color:#999999;
}
h2 {
color:#FF6600;
}
a:link, a:visited {
font-weight:bold;
text-decoration:none;
color:#999999;
}
a:active, a:hover {
text-decoration:none;
color:#FF6600;
font-weight:bold;
}
#crono {
border:1px solid #999999;
font-family:verdana;
font-size:8pt;
}
#instr {
border:0px solid #FFFFFF;
font-family:verdana;
font-size:7pt;
}
#start,#pause,#pontozero {
border:1px solid #999999;
background-color:#FFFFFF;
font-size:7pt;
font-family:verdana;
color:#FF6600;
}

#cronometro{
	background-color:#FF8C00;
	font-size:75pt;
	position: relative;
	text-align: center;
	width :40%;
	border : 30px solid transparent;
}

#iniciar{
	font-size:30pt;
}

#parar{
	font-size:30pt;
}





#mortalidade{
	font-size:200pt;
	text-align: center;
	width: 40%;
	height: 40%;
	border-radius: 50%;
	border : 30px solid transparent;

}


.row{
	text-align: center;
}


#logomarca{
	text-align: right;
	width: 20%;
	
	
}